<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421816806629-56r33o3hiqdr4slcdcebegco86et9l8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421816806629-56r33o3hiqdr4slcdcebegco86et9l8c</string>
	<key>API_KEY</key>
	<string>AIzaSyBB6azSnxRxvMezVMCAJo4q170yIjBaH6o</string>
	<key>GCM_SENDER_ID</key>
	<string>421816806629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CanDuru.Asis</string>
	<key>PROJECT_ID</key>
	<string>asis-1096b</string>
	<key>STORAGE_BUCKET</key>
	<string>asis-1096b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421816806629:ios:e4404b72385d296039f80c</string>
</dict>
</plist>